/* Reset some default styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: white;
  }
  
  /* Header and navigation */
  header {
    background-color: rgb(223, 222, 222);
    padding: 1rem;
    font-family: "Poppins","Suwannaphum", sans-serif;
    position: fixed;
    width: 100%;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    left: 20px;
  }
  nav li {
    margin: 0 1rem;
  }
  nav a {
    color:gray;
    text-decoration: none;
  
  }
  svg{
    width: 20px;
    fill: gray;
    margin-left: 10px;
    margin-right: 10px;
  }
  i{
    color: gray;
    font-size: 25px;
    float: left;
    margin-right: 10px;
  }
  .photos{
    background-image: url('https://i.ytimg.com/vi/ruSNxqrg4Pg/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCU5iDqqAXa81G2gHa4dkwh1hPj5g');
    background-size: cover;
    background-position: center;
    font-family :"Angkor", serif;;
    color: #fff;
    padding: 8rem;
    text-align: center;
  }
  .about-section{
    background-size: cover;
    color: black;
    padding: 3rem;
    margin-bottom: 50px; 
  }
  
  /* Hero section */
  .hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
  }
  .hero h1 {
    color: black;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .hero p{
    color: gray;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .hero img{
    width: 100%;
    height: 400px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(210, 209, 209, 0.934);
  }
  .hero button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50px;
    margin-bottom: 50px;
  }
  /* Font */
  p{
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1.5rem; 
  }
  h2{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h3{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  /* Property cards */
  .properties {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 20px;
  }
    .property-card {
    background-color: rgb(223, 222, 222);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }  
  .property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .property-card h3, .property-card p {
    padding: 5px;
  }

  /* Terms */
  .terms-conditions {
    padding: 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  .terms-conditions h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .terms-conditions h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .terms-conditions p, .terms-conditions li {
    font-size: 1.2rem;
    line-height: 1.6;
  } 
  .terms-conditions ul {
    margin-left: 2rem;
  }

  /* Privacy */
  .privacy-policy {
    padding: 2rem 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
  .privacy-policy h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .privacy-policy h2 {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .privacy-policy p, .privacy-policy li {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .privacy-policy ul {
    margin-left: 2rem;
  }
  /* Panel Box */
  .wrapper{
    width: 90%;
    margin: auto ;  
    grid-gap: 2em;
  }
  .panel-box{
      padding: 1rem;
      border: 1px ;
      border-radius: 3px;
      margin-bottom: 20px;
      background-color: rgb(223, 222, 222);
  }
  .homepage-bar1 {
      text-align: center;
      color: black;
      padding-top: 5rem;
     
  }
  .homepage-bar2 {
    text-align: center;
    color: black;
    padding: 1rem;
    
  }
  .homepage-bar3 {
    text-align: center;
    color: black;
    padding: 1rem;
  }
  .btn{
    background-color: rgb(223, 222, 222);
    border: none;
    color: blue;
    font-size: 1rem;
    /* margin-top: 5px; */
  }

  /* Footer */
  footer {
    background-color: skyblue;
    color: gray;
    text-align:right;
    padding: 1rem;
    transform: translateY(5px);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .hero img{
      width: 100%;
      height: auto;
    }
    .hero h1 {
      font-size: 2rem;
    }
    .properties {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}